<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ChatGPT API</title>
   <link rel="stylesheet" href="/index.css">
</head>
<body>
   <h1>API de ChatGPT</h1>
   <h2>Extraction de données d'un PDF</h2>
   <div id="dropzone" class="dropzone">
      <p>glissez-déposez ici ou cliquez pour déposer un fichier PDF d’analyse de sang...</p>
      <input type="file" id="fileInput" name="file" accept="application/pdf" hidden>
   </div>
   <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="file" accept="application/pdf">
      <button type="submit">GO!</button>
   </form>
   <div id="message"></div>

   <% if (data?.length) { %>
      <div class="table-container">
         <table>
            <thead>
               <tr>
                     <th>Test</th>
                     <th>Valeur</th>
                     <th>Unité</th>
                     <th>Norme</th>
               </tr>
            </thead>
            <tbody>
               <% for (let i = 0; i < data.length; i++) { %>
                  <tr>
                     <td><%= data[i].name %></td>
                     <td><%= data[i].value %></td>
                     <td><%= data[i].unit %></td>
                     <td><%= data[i].norm %></td>
                  </tr>
               <% } %>
            </tbody>
         </table>
      </div>
   <% } %>
</body>
</html>

<script>
   const dropzone = document.getElementById('dropzone')
   const fileInput = document.getElementById('fileInput')
   const message = document.getElementById('message')
   const table = document.getElementById('table')

   // Handle drag & drop
   dropzone.addEventListener('dragover', (e) => {
      e.preventDefault()
      dropzone.classList.add('hover')
   })

   dropzone.addEventListener('dragleave', () => {
      dropzone.classList.remove('hover')
   })

   dropzone.addEventListener('drop', (e) => {
      e.preventDefault()
      dropzone.classList.remove('hover')
      const file = e.dataTransfer.files[0]
      if (file) {
         uploadFile(file)
      }
   })

   // Handle click
   dropzone.addEventListener('click', () => fileInput.click())

   fileInput.addEventListener('change', (e) => {
      const file = e.target.files[0]
      if (file) {
         uploadFile(file)
      }
   })

   // Upload file to server
   async function uploadFile(file) {
      try {
         const formData = new FormData()
         formData.append('file', file)

         const data = await fetch('/upload', {
            method: 'POST',
            body: formData,
         })
         console.log('data', data)
      } catch (error) {
         message.textContent = `Error: ${error.message}`
      }
   }
</script>
