<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ChatGPT API</title>
   <link rel="stylesheet" href="/results.css">
</head>
<body>
   <h1>Résultats</h1>

   <div class="table-container">
      <table>
          <thead>
              <tr>
                  <th>Test</th>
                  <th>Valeur</th>
                  <th>Norme</th>
                  <th>Unité</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>BUN</td>
                  <td>12.0</td>
                  <td>5.0 - 26.0</td>
                  <td>mg/dL</td>
              </tr>
              <tr>
                  <td>Creatinine, Serum</td>
                  <td class="low">0.23</td>
                  <td>0.76 - 1.27</td>
                  <td>mg/dL</td>
              </tr>
              <tr>
                  <td>eGFR</td>
                  <td>75</td>
                  <td>&gt;59</td>
                  <td>mL/min/1.73</td>
              </tr>
          </tbody>
      </table>
   </div>
</body>
</html>
